<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Alertas de Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="alertas.length; else noAlertas">
    <ion-item *ngFor="let alerta of alertas">
      <ion-icon name="alert-circle-outline" color="warning" slot="start"></ion-icon>
      <ion-label>
        <strong>{{ alerta.description }}</strong><br>
        <span style="color:#b71c1c">Stock bajo: {{ alerta.stock }} (mínimo: {{ alerta.minStock }})</span>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noAlertas>
    <p style="color:#888; text-align:center;">No hay alertas de stock bajo.</p>
  </ng-template>
</ion-content>
