<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Alertas de Inventario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="alertas.length; else noAlertas">
    <ion-item *ngFor="let alerta of alertas">
      <ion-icon name="alert-circle-outline" color="warning" slot="start"></ion-icon>
      <ion-label>
        <strong>{{ alerta.description }}</strong><br>
        <ng-container *ngIf="alerta.type === 'stock'; else vencimiento">
          <span class="alerta-stock">Stock bajo: {{ alerta.stock }} (mínimo: {{ alerta.minStock }})</span>
        </ng-container>
        <ng-template #vencimiento>
          <span class="alerta-vencimiento">Lote {{ alerta.lotNumber }} próximo a vencer (vence: {{ alerta.expirationDate }})<br>Quedan T-{{ alerta.diasRestantes }} días</span>
        </ng-template>
      </ion-label>
    </ion-item>
  </ion-list>
  <ng-template #noAlertas>
    <p class="no-alertas">No hay alertas de stock bajo.</p>
  </ng-template>
</ion-content>
